/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    margin: 0;
    background-color: darkslateblue;
    color: white;
    font-family: "Lato", Helvetica, Arial, Sans-Serif;
}

.header {
    position: fixed;
    top: 0;
    display: flex;
    padding: 1rem;
    width: 100%;
    background-color: blueviolet;
    justify-content: space-evenly;
}

.header a {
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.content {
    padding-top: 2rem;
    margin: 2rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1 {
    align-self: center;
}

ul {
    list-style: none;
}

.transfer-user {
    font-style: italic;
}

.amount {
    font-weight: bold;
    text-decoration: underline;
    color: red;
}

form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-self: center;
}

.form-control {
    display: flex;
    margin: 0.5rem;
}

.form-control input {
    flex: 1;
    margin-left: 1rem;
}

